<h2>Exemplo pipe que funciona como filtro - Filter</h2>
<input
  type="text"
  placeholder="Buscar linguagem"
  [(ngModel)]="query"
/>
<!-- <p>{{ linguagens | filter: "C" }}</p> -->
<!-- DESAFIO: Pode buscar P ou p ou retorna Pyton normalmente -->

<ul>
  <li *ngFor="let lang of linguagens | filter: query">{{ lang }}</li>
</ul>
<hr />
<h2>Exemplo pipe - Inc</h2>
<h3 *ngFor="let num of numeros | inc">{{ num }}</h3>
<button (click)="add()">Adicionar</button>
<hr />
<h2>Exemplo pipe - ObfsEmail</h2>
<p>Crie um pipe 'obfs-email' que, dado um email, ofusca o nome do usuário. Exemplo: 'jose.almir@gmail.com' | obfs-email  => 'j*********@gmail.com'</p>
<p>{{ "valeriateste@gmail.com" | obfsEmail }}</p>
<p>{{ "novovaleriateste@yahoo.com.br" | obfsEmail }}</p>
