<section>
  <h2>Componente - Exercício 1</h2>
  <h3>Lista de Exercícios Jamboard</h3>
  <hr />
</section>

<section>
  <h3>1 - Crie uma propriedade idade do tipo number. Crie dois botões um para aumentar a idade e outro para diminuir.</h3>
  <p>Idade: {{ idade }}</p>

  <button (click)="aumentar()">+</button>
  <button (click)="diminuir()">-</button>
  <br />
</section>

<section>
  <h3>2 - Crie uma propriedade que é um array de links de imagens, crie um botão para trocar a imagem para a próxima no array.</h3>
  <img [src]="pictures[index]">
  <button (click)="next()">Next</button>
  <br />
</section>

<section>
  <h3>3 - Crie uma propriedade aluno com valores: nome, idade, nota1, nota2, nota3. Exiba os valores conforme eles são alterados via input.</h3>
  <div>
    <label for="nomeCompleto">Nome Completo: </label>
    <input type="text" [(ngModel)]="estudante.nomeCompleto" />
  </div>
  <div>
    <label for="idade">Idade: </label>
    <input type="text" [(ngModel)]="estudante.idade" />
  </div>
  <div>
    <label for="nota1">Nota 1: </label>
    <input type="text" [(ngModel)]="estudante.nota1" />
  </div>
  <div>
    <label for="nota2">Nota 2: </label>
    <input type="text" [(ngModel)]="estudante.nota2" />
  </div>
  <div>
    <label for="nota3">Nota 3: </label>
    <input type="text" [(ngModel)]="estudante.nota3" />
  </div>
  <p>Interpolação: {{ estudante | json }}</p>
  <br />
</section>

<section>
  <h3>4 - Crie um input para adicionar links de imagem no array.</h3>
  <input #newImagem
      (keyup.enter)="addImagem(newImagem.value)"
      (blur)="addImagem(newImagem.value); newImagem.value='' ">

    <button (click)="addImagem(newImagem.value)">Adicionar link</button>

    <ul><li *ngFor="let imagem of arrayImagem"><img [src]='arrayImagem'></li></ul>
  <br />
</section>

<section>
  <h3>5 - Crie um botão, ao clicar nele irá esconder algum elemento da tela e quando clicar novamente ele voltará a aparecer.</h3>
  <br />
</section>

<section>
  <h3>6 - Crie duas propriedades: largura e altura. Crie um botão para aumentar cada uma e mude as dimensões de uma imagem conforme os botões são clicados.</h3>
  <br />
</section>

<section>
  <h3>7 - Defina data binding.</h3>
  <br />
</section>

<section>
  <h3>8 - Qual a diferença entre interpolação e property binding?</h3>
  <br />
</section>

<section>
  <h3>9 - O que são componentes? O que é necessário para criar um?</h3>
  <br />
</section>

<section>
  <h3>10 - O que é o AppModule? Descreva cada metadado.</h3>
  <br />
</section>

<section>
  <h3>11 - O que são serviços? Qual a finalidade deles?</h3>
  <br />
</section>

<section>
  <h3>12 - Quais são os principais elementos da arquitetura do Angular?</h3>
  <br />
</section>
