<app-data-binding></app-data-binding>
<app-exercicio-um></app-exercicio-um>
<app-exercicio-dois></app-exercicio-dois>

<!-- <section>
  <h3>Interpolação</h3>
  <hr />
  <p>{{ nome }}</p>
  <p>Seja bem-vinda, {{ nome }}</p>
  <p>Você tem {{ idade }} ano(s).</p>
  <p>{{ nome | uppercase }}</p>
  <p>Soma de 1 + 1 é: {{ 1 + 1 }}</p>
  <p>Seu sobrenome é {{'Valle'}}</p>
  <p>Seu ano de nascimento é: {{ calculaAnoNascimento()}}</p>
</section>
<br />
<section>
  <h3>Event Binding</h3>
  <hr />

  <img
    src="{{ linkImagem }}"
    height="{{alturaImagem}}"
    width="{{larguraImagem}}"
  />
  <br />
  <p>{{ larguraImagem }} x {{ alturaImagem }}</p>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section>
<br />
<section>
  <h3>Property Binding</h3>
  <hr />
  <p>Não utiliza a interpolação para definir os valores das propriedades, mas chaves na própria propriedade e seus valores dentro de aspas.</p>
  <p>Nesta situação trata-se apenas de uma melhor apresentação visual. Esta é a forma usual.</p>
  <img
    [src]="linkImagem"
    [height]="alturaImagem"
    [width]="larguraImagem"
  />
  </section> -->


